.idea
__pycach__
*.png
.docx
tennis_atp*
tennis_wta*
tennis_slam*
Data/final*
Data/first*
Data/p1*
Data/elo_ranking/matches*
Data/elo_ranking/Quest4/ranks_fill*
Data/elo_ranking/20*
Data/betting_odds/*.csv


